In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('cpdata.csv')

In [ ]:
df.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
df.isnull().sum()

temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [ ]:
df.shape

(3100, 5)

In [ ]:
df['label'].unique()

array(['rice', 'wheat', 'Mung Bean', 'Tea', 'millet', 'maize', 'Lentil',
       'Jute', 'Coffee', 'Cotton', 'Ground Nut', 'Peas', 'Rubber',
       'Sugarcane', 'Tobacco', 'Kidney Beans', 'Moth Beans', 'Coconut',
       'Black gram', 'Adzuki Beans', 'Pigeon Peas', 'Chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [ ]:
len(df['label'].unique())

31

In [ ]:
crops = list(df['label'].unique())

In [ ]:
crops.index('rice')

0

In [ ]:
df['label'] = df['label'].apply(lambda x:crops.index(x)+1)

In [ ]:
df.tail()

      temperature   humidity        ph   rainfall  label
3095    25.287846  89.636679  6.765095  58.286977     31
3096    26.638386  84.695469  6.189214  48.324286     31
3097    25.331045  84.305338  6.904242  41.532187     31
3098    26.897502  83.892415  6.463271  43.971937     31
3099    26.986037  89.413849  6.260839  58.548767     31

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop('label',axis=1),df.label)

In [ ]:
X_train.shape

(2325, 4)

In [ ]:
X_test.shape

(775, 4)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
X_train = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)

In [ ]:
X_test = pd.DataFrame(scaler.transform(X_test),columns=X_test.columns)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier()

In [ ]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
model.predict(X_test)[:10]

array([16, 26, 18,  9, 30,  2, 30,  5, 14, 31], dtype=int64)

In [ ]:
y_test[:10]

1585    16
2548    26
1712    18
872      9
2934    30
166      2
2942    30
448      5
1370    14
3065    31
Name: label, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred)
# Model have 93% of accuracy. well fitted on data

0.9548387096774194

In [ ]:
import pickle

In [ ]:
# with open('model.pkl','wb') as f:
#     pickle.dump(model,f)

In [ ]:
# with open('scaler.pkl','wb') as f:
#     pickle.dump(scaler,f)

In [ ]:
X_train.columns

Index(['temperature', 'humidity', 'ph', 'rainfall'], dtype='object')

In [ ]:
x_df = pd.DataFrame([[22,80,7,220]],columns = ['temperature', 'humidity', 'ph', 'rainfall'])

In [ ]:
model.predict(pd.DataFrame(scaler.transform(x_df),columns=['temperature', 'humidity', 'ph', 'rainfall']))

array([1], dtype=int64)